#root{
  background: linear-gradient(to bottom, #79F2EC 0%, #14518E 100%);
  height: 100vh;
}
.parent{
  display: flex;
 justify-content: center;
}
.content{
border: 2px solid grey;
height: 75vh;
border-radius: 25px;
background: #0B080D;
width: 90%;

}
.symbols{
  display: flex;
  color: white;

}
.symbol{
  width: 80%;
  display: flex;
  justify-self: center;
  
}
.symbols img{
  width: 30px;
  height: 30px;

}
.symbol p{
  text-align: center;
  align-items: center;
  margin: auto;
}